---
layout: default
---
{% include navigator.html %}

<div class="container">
  <h2>{{ page.title }}</h2>
  <h6>
  Created: {{ page.created | date: "%Y/%m/%d %H:%M" }} 
  | Modified: {{ page.modified | date: "%Y/%m/%d %H:%M" }} 
  | Tags: 
  {% for tag in page.tags %}
      <a href="/tags/{{ tag }}">{{ tag }}</a>
  {% endfor %}
  <br/>
  <div class="text-center">
    {% if page.previous %}
      <a href="{{ page.previous.url }}">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>  
        {{ page.previous.title }}
      </a>
    {% else %}
        The Oldest Post
    {% endif %}
    |
    {% if page.next %}
      <a href="{{ page.next.url }}">
        {{ page.next.title }} 
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    {% else %}
        The Newest Post
    {% endif %}
  </div>
  </h6>
  <hr/>
  {{ content }}
</div>

<div class="container text-center comments">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.9&appId=2283665298525482";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="800" data-numposts="5" data-colorscheme="dark"></div>
</div>
